@import "../../styles/variable.module.scss";


.Interest{
    @include container;    
    @include section;
    background-color: $background-color;
    color: $light-color;
    min-height: 500px; //temporary
    overflow: visible;
    .section_header{
        @include section-header;
        color: white;
    }
    .cards{
        @media only screen and (min-width: 1000px) {
            grid-template-columns: 1fr 1fr  ;
            // grid-auto-rows: minmax(100px, auto);
            display: grid;
            gap: 2rem;
            margin: 2rem 0rem;
        }
    }
    .card{
        font-family: $primary-font;
        // margin: 2rem 0rem;
        background-color: $background-color-tint;
        border-radius: .5rem;
        height: 100%;
        .card_content{
            padding: 2rem;
            h3.card_header{
                color: $light;
                font-weight: bolder;
                font-size: xx-large;
            }
            p{
                margin-top: 1rem;
                text-align: justify;
                max-height: 250px;
                color: $light;
                opacity: 100% !important;
                font-weight: lighter;
                font-family: $secondary-font;
            }
            // a{
            //     text-decoration: none;
            //     font-family: $secondary-font;
            //     color: $primary;
            //     padding: .5rem .8rem;
            //     border-radius: .3rem .5rem;
            //     border: 1px solid $primary;
            //     margin: 0px;
            // }

        }
    }
    a.works{
        color: hsl(199, 98%, 52%);
        font-size: x-large;
        text-decoration: none;
        display: block;
        margin: 1rem auto;
        width: fit-content;
    }
}