@import "../../styles/variable.module.scss";


.Interest{
    @include container;    
    @include section;
    background-color: $background-color;
    color: $light-color;
    min-height: 500px; //temporary
    .section_header{
        @include section-header;
        color: white;
    }
    .card{
        font-family: $primary-font;
        margin: 2rem 0rem;
        background-color: $background-color-tint;
        border-radius: .5rem;
        position: relative;
        overflow: hidden;
        transition-duration: .4s;
        grid-template-columns: 1fr 1fr;
        display: grid;
        &:hover{
            box-shadow: -.5rem .5rem rgb(31, 31, 31);
            .card_img img{
                transform: scale(1.08);
                opacity: .7;
            }
            .card_content p{
                text-shadow: .5rem 0rem 5px $background-color-tint;
            }
        }
        .card_img{
            position: absolute;
            top: 0;
            right: 0;
            max-width: 600px;
            img{
                background: linear-gradient(to right, rgba(77, 8, 8, 0), $background-color-tint);
                transition-duration: .4s;
                width: 100%;
                height: auto;
                mix-blend-mode: color-dodge;
                opacity: .3;
            }
        }
        .card_content{
            padding: 2rem;
            background: $background-color-tint;
            max-width: 600px;
            p{
                // z-index: 2 !important;
                font-family: $secondary-font;
                letter-spacing: 1px;
            }

        }
    }
}