@import "../../styles/variable.module.scss";

@keyframes header_glitch {
    1% {
        box-shadow: none;
        transform: scaleY(2);
    }
    2%{
        color: rgb(207, 207, 207);
        transform: scaleY(.2) skew(-70deg, 0deg);
        
    }
    3%{
        color: black;
        
    }
    4%{
        color: white;
        transform: none;
    }
    5% {
        text-shadow: -4px 0rem rgb(0, 116, 62), 4px 0rem rgb(0, 0, 0);
    }
    6% {
        text-shadow: 4px 0rem rgb(0, 0, 0), -4px 0rem rgb(81, 153, 135), 0px 2px rgb(81, 153, 135);
    }
    7% {
        box-shadow: none;
    }
}

@keyframes glitch_before {
    0%{
        background-color: white;
        top: 70%;
        width: 20%;
        right: 25%;
    }
    2%{
        background-color: white;
        top: 64%;
        width: 2%;
        right: 0%;
    }
    4%{
        background-color: white;
        top: 55%;
        width: 7%;
        right: 30%;
    }
    6%{
        background-color: white;
        top: 55%;
        width: 10%;
        right: 0%;
    }
    8% {
        background-color: white;
        top: 60%;
        width: 6%;
        right: 100%;
    }
    10% {
        background-color: white;
        top: 50%;
        left: 2%;
        width: 10%
    }
}

@keyframes glitch_after {
    0%{
        background-color: white;
        top: 30%;
        width: 20%;
        right: 80%;
    }
    2%{
        background-color: white;
        top: 70%;
        width: 20%;
        right: 10%;
    }
    4%{
        background-color: black;
        top: 0%;
        width: 7%;
        right: 0%;
    }
    6%{
        background-color: black;
        top: 75%;
        width: 15%;
        right: 10%;
    }
    8% {
        background-color: black;
        top: 30%;
        width: 50%;
        right: 0%;
    }
    10% {
        background-color: black;
        top: 50%;
        left: 2%;
        width: 10%;
        height: 20%
    }
}

.SectionHeader {
    h1{
        @include section-header;
        position: relative;
        color: white;
        width: fit-content;
        // animation: header_glitch .4s linear .4s infinite ;
        margin: 0rem;
        font-size: 3rem;
        max-width: 500px;
    }
}
