@import '../../styles/variable.module.scss';

.navbar{
    @include container;
    background-color: $background-color;
    background-blend-mode: luminosity !important;
    position: sticky;
    top: 0;
    z-index: 3;
    .navbarBrand{
        background-color: $background-color;
        padding: .5rem;
        align-self: center;
        width: 100vw;
        position: fixed;
        top: 0px;
        left: 0px;
        // z-index: 2;
        *{
            font-family: $primary-font;
            font-weight: 900;
            color: $light-color;
            margin: 0rem;
        }
    }

    ul{
        padding: 4rem 2rem 0rem 2rem;
        margin: 1rem 0rem;
        z-index: -1;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100% ;
        width: 80vw;
        background: $background-color;
        
        li{
            list-style: none;
            margin: .5rem 0rem;
            a{
                font-family: $primary-font;
                color: $light-color;
                text-decoration: none;
                transition: .4s;
                font-weight: bolder;
                font-size: 1.5rem;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
    .backdrop{
        width: 100vw;
        height: 100vh;
        background-color: black;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: -2;
        opacity: .8;
    }
    
    @media only screen and (min-width: 700px) {
        grid-template-columns: 1fr 1fr;
        display: grid !important;
        align-items: center;
        // background: green;
        .navbarBrand{
            position: initial;
            width: initial;
        }
        .backdrop{
            display: none !important;
        }
        ul{

            position: inherit !important;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            display: grid;
            padding: 0rem !important;
            height: fit-content !important;
            width: inherit !important;
            &::before{
                content: none;
            }
            li{
                text-align: center;
            }
        }
        
    }
}
