@import '../../styles/variable.module.scss';

.navbar{
    @include container;
    background-color: $background-color;
    position: sticky;
    top: 0;
    z-index: 1;
    @media only screen and (min-width: 700px) {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        ul{
            position: inherit !important;
            grid-template-columns: 1fr 1fr 1fr;
            display: grid;
            padding: 0rem !important;
            height: fit-content !important;
            li{
                text-align: center;
            }
        }
    }
    @media only screen and (min-width: 1000px) {
    }
    .navbarBrand{
        background-color: $background-color;
        padding: .5rem;
        align-self: center;
        *{
            font-family: $primary-font;
            font-weight: 900;
            color: $light-color;
            margin: 0rem;
        }
    }
    ul{
        padding: 4rem 2rem 0rem 2rem;
        margin: 0rem;
        z-index: -1;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh ;
        background: $background-color;
        li{
            list-style: none;
            a{
                font-family: $primary-font;
                color: $light-color;
                text-decoration: none;
                transition: .4s;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}
