@import "../../styles/variable.module.scss";
.Experience{
        @include container;    
        @include section;
        background-color: $background-color;
        color: $light-color;
        // .section_header {
        //     @include section-header;
        //     color: white;
        // }
}
.Path{
    font-family: $primary-font;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
    width: fit-content;
    margin: 0rem auto;
    .companyName, .role {
        font-family: $secondary-font;
    }
    .role, .companyName{
        margin-bottom: 0px;
    }
    .scope{
        // color: $secondary;
        font-weight: bolder;
        font-size: 2.5rem;
        
    }
}
.PathCard{
    padding: 2rem;
    margin: 2rem 0rem;
    font-family: $secondary-font;
    background-image: linear-gradient(45deg, #282525, #000000);
    border-radius: .5rem;
    box-shadow: -100px 30px 43px 0px rgba(0, 0, 0, 0.45), 50px -29px 43px 0px rgba(237, 237, 237, 0.02);
    max-width: 700px;
    .role{
        font-weight: bolder;
        color: $secondary;
    }
    .desc{
        margin-top: 1rem;
        // font-size: .9rem;
        opacity: .8;
        font-weight: lighter;
        text-align: justify;
    }
    // overflow-x: scroll;
}